---
import Link from "../components/Link.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/website/profile.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Garfxld's Website</title>
	</head>
	<body class="bg-neutral-950 text-white font-mono">
			<div class="w-[32rem] mt-48 mx-auto p-16">
				<div class="flex space-x-4">
					<img src="/profile.png" class="w-8 h-8 xl:w-9 xl:h-9 rounded-full" />
					<h1 class="text-2xl xl:text-4xl">Garfxld</h1>
				</div>
				<div class="h-2"/>
				<div class="flex space-x-2">
					<Link name="Github" href="https://github.com/garfxld" />
					<Link name="Discord" href="https://discord.com/users/743060709465784409" />
					<Link name="Spotify" href="https://open.spotify.com/user/9z6vambozryoo2jskc8d0l8ip" />
				</div>
				<div class="h-8"/>
				Work in progress. 🔨
			</div>
	</body>
</html>