---
const { name, href } = Astro.props;
---

<a target="_blank" rel="noopener noreferrer" href={href} class="text-center [word-spacing:-6px] text-sky-500 hover:bg-sky-500 hover:text-white">[ {name} ]</a>